{% extends './base.html' %} {% block content%}
<div class="container w-50 mt-3 border-primary">
  <h3 class="mt-2 ">Forgot password</h3>
  <form>
    <div class="form-group">
      <label for="Email">Please enter your Email address/ User name</label>
      <input
        type="email"
        class="form-control"
        id="Email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <br />
  </form>
</div>
{%endblock%}
