{% extends './base.html' %} {% block content%}

    <div class="container w-50 mt-3">
      <h3 class="mt-2 ">Sign up</h2>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Agree terms of use</label
          >
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <a href="/firstapp/login" class="mt-3" >Already a user? Login here</a>
      </form>
    </div>
    <!-- <div class="container form-group">
      <form method="POST">
        {{ form.as_p }} {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div> -->
{% endblock %}